.certificates__grid {
  max-width: 1100px;
  margin: 0 auto;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(18em, 1fr)); */
  grid-gap: 0.2em;
}

.certificate {
  padding: 0.4em;
  margin: 0 auto;
  text-align: center;
  box-shadow: var(--shadow);
  transition: transform 0.2s linear;
  width: -webkit-fill-available;
  max-width: 800px;
}

.certificate:hover {
  transform: translateY(-7px);
}

.certificate .link--icon {
  margin-left: 0.5em;
}
